[SCALES]
#
# Configuration file for SCALES calibration module
#

#
#
#Processing configuration
#
#

#Redo the slope image generation even if the products exist
clobber = False

#Skip the generation of combined master cal files, 
#go straight to spectral extraction analysis
skip_mcal_generation = True

#Generate a second set of rectification matrices while
#applying an x and/or y shift to compensate for disperser motion?
rectmat_xshift = 3.5
rectmat_yshift = 0


#
#
#Calibration file configuration
#
#

#Path to folder containing required calibration files
#(currently must be a subdirectory inside scalesdrp)
calib_file_path = 'calib/' 

#Calibration file names (must be inside calib directory)
sig_map_ifs_fast0p6 = 'readnoise_ifs_fast0.6_cd5.fits'
flat_ifs_fast0p6 = 'ifs_fast0.6_pseudoflat_bpcorr.fits'
bpm_ifs_fast0p6 = 'bpm_ifs_cd5.fits'
bpmat_ifs_fast0p6 = 'bpmat_ifs.npz'
lin_coeff_ifs_fast0p6 = 'lin_coeffs_ifs_fast0.6_cd5.fits'

sig_map_ifs_fast1 = 'readnoise_ifs_fast1.0_cd5.fits'
flat_ifs_fast1 = 'ifs_fast0.6_pseudoflat_bpcorr.fits'
bpm_ifs_fast1 = 'bpm_ifs_cd5.fits'
bpmat_ifs_fast1 = 'bpmat_ifs.npz'
lin_coeff_ifs_fast1 = 'lin_coeffs_ifs_fast1.0_cd5.fits'

sig_map_ifs_slow = 'readnoise_ifs_slow_cd5.fits'
flat_ifs_slow = 'ifs_fast0.6_pseudoflat_bpcorr.fits'
bpm_ifs_slow = 'bpm_ifs_cd5.fits'
bpmat_ifs_slow = 'bpmat_ifs.npz'
lin_coeff_ifs_slow = 'lin_coeffs_ifs_slow_cd5.fits'

sig_map_img_fast0p6 = 'readnoise_img_fast0.6_cd5.fits'
flat_img_fast0p6 = 'img_fast0.6_mflatlamp.fits'
bpm_img_fast0p6 = 'bpm_img_cd4.fits'
bpmat_img_fast0p6 = 'bpmat_img.npz'
lin_coeff_img_fast0p6 = 'lin_coeffs_img_fast0.6_cd5.fits'

sig_map_img_fast1 = 'readnoise_img_fast1.0_cd5.fits'
flat_img_fast1 = 'img_fast1.0_mflatlamp.fits'
bpm_img_fast1 = 'bpm_img_cd4.fits'
bpmat_img_fast1 = 'bpmat_img.npz'
lin_coeff_img_fast1 = 'lin_coeffs_img_fast1.0_cd5.fits'

sig_map_img_slow = 'readnoise_img_slow_cd5.fits'
flat_img_slow = 'img_slow_mflatlamp.fits'
bpm_img_slow = 'bpm_img_cd4.fits'
bpmat_img_slow = 'bpmat_img.npz'
lin_coeff_img_slow = 'lin_coeffs_img_slow_cd5.fits'


procfile = scales.proc
