[SCALES]
#
#
# Configuration file for SCALES science grade module
#

#
#
#Processing configuration
#
#

#Set output directory
output_directory = 'redux/'

#Redo the slope image generation even if the products exist
clobber = True 


#
#
#Calibration file configuration
#
#

#Path to folder containing required calibration files
#(currently must be a subdirectory inside scalesdrp)
calib_file_path = 'calib/' 

#Calibration file names (must be inside calib directory)
sig_map_ifs_fast0p6 = 'sim_readnoise.fits'
#sig_map_ifs_fast0p6 = 'readnoise_ifs_fast0.6_cd5.fits'
flat_ifs_fast0p6 = 'ifs_fast0.6_pseudoflat_bpcorr.fits'
bpm_ifs_fast0p6 = 'bpm_ifs_cd5.fits'
bpmat_ifs_fast0p6 = 'bpmat_ifs.npz'
lin_coeff_ifs_fast0p6 = 'lin_coeffs_ifs_fast0.6_cd5.fits'

sig_map_ifs_fast1 = 'readnoise_ifs_fast1.0_cd5.fits'
flat_ifs_fast1 = 'ifs_fast0.6_pseudoflat.fits'
bpm_ifs_fast1 = 'bpm_ifs_cd5.fits'
bpmat_ifs_fast1 = 'bpmat_ifs.npz'
lin_coeff_ifs_fast1 = 'lin_coeffs_ifs_fast1.0_cd5.fits'

sig_map_ifs_slow = 'readnoise_ifs_slow_cd5.fits'
flat_ifs_slow = 'ifs_fast0.6_pseudoflat.fits'
bpm_ifs_slow = 'bpm_ifs_cd5.fits'
bpmat_ifs_slow = 'bpmat_ifs.npz'
lin_coeff_ifs_slow = 'lin_coeffs_ifs_slow_cd5.fits'

sig_map_img_fast0p6 = 'readnoise_img_fast0.6_cd5.fits'
flat_img_fast0p6 = 'img_fast0.6_mflatlamp.fits'
bpm_img_fast0p6 = 'bpm_img_cd4.fits'
bpmat_img_fast0p6 = 'bpmat_img.npz'
lin_coeff_img_fast0p6 = 'lin_coeffs_img_fast0.6_cd5.fits'

sig_map_img_fast1 = 'readnoise_img_fast1.0_cd5.fits'
flat_img_fast1 = 'img_fast1.0_mflatlamp.fits'
bpm_img_fast1 = 'bpm_img_cd4.fits'
bpmat_img_fast1 = 'bpmat_img.npz'
lin_coeff_img_fast1 = 'lin_coeffs_img_fast1.0_cd5.fits'

sig_map_img_slow = 'readnoise_img_slow_cd5.fits'
flat_img_slow = 'img_slow_mflatlamp.fits'
bpm_img_slow = 'bpm_img_cd4.fits'
bpmat_img_slow = 'bpmat_img.npz'
lin_coeff_img_slow = 'lin_coeffs_img_slow_cd5.fits'

#
#
#Rectmat file names (must be inside calib directory)
#
#
OPT_rmat_LowRes_K = 'LowRes-K_OPT_intp_rectmat.npz'
C2_rmat_LowRes_K = 'LowRes-K_C2_intp_rectmat.npz'
OPT_rmat_LowRes_L = 'LowRes-L_OPT_intp_rectmat.npz'
C2_rmat_LowRes_L = 'LowRes-L_C2_intp_rectmat.npz'
OPT_rmat_LowRes_M = 'LowRes-M_OPT_intp_rectmat.npz'
C2_rmat_LowRes_M = 'LowRes-M_C2_intp_rectmat.npz'
OPT_rmat_LowRes_KLM = 'LowRes-KLM_OPT_intp_rectmat.npz'
C2_rmat_LowRes_KLM = 'LowRes-KLM_C2_intp_rectmat.npz'
OPT_rmat_LowRes_KL = 'LowRes-KL_OPT_intp_rectmat.npz'
C2_rmat_LowRes_KL = 'LowRes-KL_C2_intp_rectmat.npz'
OPT_rmat_LowRes_Ls = 'LowRes-Ls_OPT_intp_rectmat.npz'
C2_rmat_LowRes_Ls = 'LowRes-Ls_C2_intp_rectmat.npz'
#OPT_rmat_MedRes_K = 'MedRes-K_OPT_intp_rectmat.npz'
OPT_rmat_MedRes_K = 'MedRes-K_OPT_intp_rectmat_dx4.0_dy0.npz'
#C2_rmat_MedRes_K = 'MedRes-K_C2_intp_rectmat.npz'
C2_rmat_MedRes_K = 'MedRes-K_C2_intp_rectmat_dx4.0_dy0.npz'
OPT_rmat_MedRes_L = 'MedRes-L_OPT_intp_rectmat.npz'
C2_rmat_MedRes_L = 'MedRes-L_C2_intp_rectmat.npz'
OPT_rmat_MedRes_M = 'MedRes-M_OPT_intp_rectmat.npz'
C2_rmat_MedRes_M = 'MedRes-M_C2_intp_rectmat.npz'

do_chi2_full = False

#
#
#Extra calibration steps 
#
#

#Subtract the median of each row to get rid of pickup noise?
subtract_row_median = True

#Subtract the median of each row to get rid of pickup noise?
subtract_col_median = False

#Subtract the median of each image readout channel in addition to refpix?
subtract_img_readout_channels = False



procfile = scales.proc
