#
# Configuration file for SCALES
#
# Main section
[SCALES]
#
# Correct to vacuum wavelengths?
#air_to_vacuum = True
# Plotting and interaction parameters
# Overwrite outputs?
clobber = True

calib_file_path = '/Users/stephsallum/Sallum Group Dropbox/Steph Sallum/SCALES/SCALES-DRP/scalesdrp/calib/'
bpm_ifs_9mhz = 'combined_bpm_bool.fits'
bpmat_ifs_9mhz = 'bpmat_ifs_combined_bool.npz'


#
#
# parameters that should be the same for both channels and
# should not require adjustment
#
output_directory = "redux"
bias_min_nframes = 7
flat_min_nframes = 3
calib_min_nframes = 3
lensflat_min_nframes = 1
dark_min_nframes = 3
# Keck II Location (required for radial velocity correction)
latitude = 19.82656
longitude = -155.4742
altitude = 4160
procfile = scales.proc
